<div class="about">
	<div class="row">
		<div id="sidebar" class="col-xs-2">
			<ul class="nav nav-list affix">
				<li><a href="#general">General information</a></li>
				<li><a href="#source">Source code</a></li>
				<li><a href="#go">Installing Go</a></li>
				<li><a href="#ai">Writing your own AI</a></li>
				<li><a href="#gae">Installing Google App Engine Go SDK</a></li>
				<li><a href="#deploying">Deploying your own AI</a></li>
				<li><a href="#running">Running your own server</a></li>
			</ul>
		</div>
		<div class="col-xs-10">
			<a name="general"></a>
			<h2>stockholm-ai</h2>
			<h3>General information</h3>
			<p>
			stockholm-ai is a game played by artificial intelligences.
			</p>
			<p>
			It's basically a clone of <a href="http://berlin-ai.com/">BERLIN</a>, which describes itself as a <strong>web-based electronic turn by turn multiplayer ai strategy board game</strong>.
			</p>
			<p>
			Each game takes place on a randomly generated map consisting of a graph of variously sized <strong>nodes</strong> and <strong>edges</strong>. On each <strong>node</strong>, and along the <strong>edges</strong> between the <strong>nodes</strong>, there can be <strong>units</strong> belonging to the different <strong>players</strong>. 
			</p>
			<p>
			<strong>Units</strong> on the <strong>nodes</strong> will decimate each other if belonging to different <strong>players</strong>, or multiply if belonging to only one <strong>player</strong> and on a <strong>node</strong> with room to spare. <strong>Units</strong> on <strong>nodes</strong> smaller than the <strong>units</strong> size will starve and decimate.
			</p>
			<p>
			<strong>Units</strong> on <strong>edges</strong> will travel along the <strong>edge</strong> for as many <strong>turns</strong> as the length of the <strong>edge</strong> until they reach the <strong>node</strong> on the other side of the <strong>edge</strong>.
			</p>
			<a name="source"></a>
			<h3>Source code</h3>
			<p>
			The source code for stockholm-ai can be found, in its entirety, at <a href="https://github.com/zond/stockholm-ai">https://github.com/zond/stockholm-ai</a>.
			</p>
			<p>
			API documentation can be found at <a href="http://godoc.org/github.com/zond/stockholm-ai">http://godoc.org/github.com/zond/stockholm-ai</a>.
			</p>
			<a name="go"></a>
			<h3>Installing Go</h3>
			<p>
			Since stockholm-ai is written in <a href="http://golang.org/">Go</a> you need to install <a href="http://golang.org/">Go</a> to do pretty much anything at all with it.
			</p>
			<p>
			Download <a href="https://code.google.com/p/go/downloads/list">Go</a> and unpack it someplace:
			</p>
<pre>
curl -O https://go.googlecode.com/files/go1.1.2.darwin-amd64.tar.gz
tar xvf go1.1.2.darwin-amd64.tar.gz
export PATH=$PATH:$PWD/go/bin
</pre>
			<p>
			Set up a proper GOPATH:
			</p>
<pre>
export GOPATH=$HOME/go
mkdir $GOPATH
</pre>
			<a name="ai"></a>
			<h3>Writing your own AI</h3>
			<p>
			To run an AI for stockholm-ai you only need a web server reachable from the internet.
			</p>
			<p>
			The web server must respond to <code>POST</code> requests containing a <code>JSON</code> encoded body describing the game state by sending another <code>JSON</code> encoded body describing the orders to issue for the provided game state.
			</p>
			<p>
			Since I am currently too lazy to describe this in detail, I will proceed with instructions on how to do this in <a href="http://golang.org/">Go</a>.
			<p>
			<p>
			Create a small web server:
			</p>
<pre>
package main

import (
	"fmt"
	"net/http"
)

func main() {
	http.ListenAndServe("0.0.0.0:8080", http.HandlerFunc(func(w http.ResponseWriter, r *http.Request) {
		fmt.Fprintln(w, "Hello, world!")
	}))
}
</pre>
			<p>
			Install stockholm-ai as a Go library:
			</p>
<pre>
go get github.com/zond/stockholm-ai
</pre>
			<p>
      Replace the anonymous handler in the above example with the <code>Randomizer</code> from <a href="https://github.com/zond/stockholm-ai/tree/master/hub/examples">https://github.com/zond/stockholm-ai/tree/master/hub/examples</a>:
			</p>
<pre>
package main

import (
	"github.com/zond/stockholm-ai/ai"
	"github.com/zond/stockholm-ai/common"
	"github.com/zond/stockholm-ai/hub/examples"
	"net/http"
)

func main() {
	http.ListenAndServe("0.0.0.0:8080", ai.HTTPHandlerFunc(common.GoLoggerFactory, examples.Randomizer{}))
}
</pre>
			<p>
			Run your new server:
			</p>
<pre>
go run test.go
</pre>
			<p>
			Now, all you have to do to test it is to add it as an AI at <a href="http://stockholm-ai.appspot.com">stockholm-ai</a>.
			</p>
			<p>
			When you are satisfied that your AI is working and can move units around, it's time to modify it to do something more clever than randomly moving units around. Go to <a href="https://github.com/zond/stockholm-ai/blob/master/hub/examples/examples.go">https://github.com/zond/stockholm-ai/blob/master/hub/examples/examples.go</a> to see exactly what the Randomizer does, and put an improved version of it in your own AI.
			</p>
			<a name="gae"></a>
			<h3>Installing Google App Engine Go SDK</h3>
			<p>
			Download <a href="https://developers.google.com/appengine/downloads#Google_App_Engine_SDK_for_Go">Google App Engine Go SDK</a> and unpack it someplace:
			</p>
<pre>
curl -O http://googleappengine.googlecode.com/files/go_appengine_sdk_darwin_amd64-1.8.5.zip
unzip go_appengine_sdk_darwin_amd64-1.8.5.zip
export PATH=$PATH:$PWD/go_appengine/
</pre>
			<a name="deploying"></a>
			<h3>Deploying your own AI</h3>
			<p>
			If you have your own host accessible from the internet, you could be finished with your AI work after <a href="#ai">writing your own AI</a>, but often you don't have the resources or energy to set something like that up. If this is the case you can simply host your AI on Google App Engine.
			</p>
			<p>
			Begin by signing up at <a href="https://developers.google.com/appengine/">https://developers.google.com/appengine/</a> to get an account. Then go to <a href="https://appengine.google.com/">https://appengine.google.com/</a> to create a new application. Pick a nice name and go with the default options.
			</p>
			<p>
			Now you can just fork <a href="https://github.com/zond/stockholm-ai">https://github.com/zond/stockholm-ai</a> and edit <a href="https://github.com/zond/stockholm-ai/blob/master/randomizer/app.yml">https://github.com/zond/stockholm-ai/blob/master/randomizer/app.yml</a> to reflect the name you picked for your application. When this is done, use <code>appcfg.py</code> from <a href="#gae">Google App Engine Go SDK</a> to update your application with the randomizer code:
			</p>
<pre>
appcfg.py update stockholm-ai/randomizer
</pre>
			<a name="running"></a>
			<h3>Running your own server</h3>
			<p>
			Install the dependencies:
			</p>
<pre>
go get github.com/gorilla/mux
go get code.google.com/p/snappy-go/snappy
</pre>
			<p>
			Check out the code from github:
			</p>
<pre>
git clone https://github.com/zond/stockholm-ai.git
</pre>
			<p>
			Start the local development server:
			</p>
<pre>
dev_appserver.py stockholm-ai/hub
</pre>
			</div>
		</div>
	</div>
</div>
