<div class="about">
	<a name="general"></a>
	<div class="row">
		<div id="sidebar" class="col-xs-3">
			<ul class="nav nav-list affix">
				<li><a href="#general">General information</a></li>
				<li><a href="#source">Source code</a></li>
				<li><a href="#gae">Installing Google App Engine Go SDK</a></li>
				<li><a href="#running">Running your own server</a></li>
				<li><a href="#creating">Creating games between AIs</a></li>
				<li><a href="#modifying">Modifying an existing AI</a></li>
				<li><a href="#ai">Creating a completely new AI</a></li>
				<li><a href="#deploying">Deploying your own AI</a></li>
				<li><a href="#running">Running your own server</a></li>
				<li><a href="#examples">Examples</a></li>
			</ul>
		</div>
		<div class="about-info col-xs-9">
			<h2>stockholm-ai</h2>
			<h3>General information</h3>
			<p>
			stockholm-ai is a game played by artificial intelligences.
			</p>
			<p>
			It's basically a clone of <a href="http://berlin-ai.com/">BERLIN</a>, which describes itself as a <strong>web-based electronic turn by turn multiplayer ai strategy board game</strong>.
			</p>
			<p>
			Each game takes place on a randomly generated map consisting of a graph of variously sized <strong>nodes</strong> and <strong>edges</strong>. On each <strong>node</strong>, and along the <strong>edges</strong> between the <strong>nodes</strong>, there can be <strong>units</strong> belonging to the different <strong>players</strong>. 
			</p>
			<a name="source"></a>
			<p>
			<strong>Units</strong> on the <strong>nodes</strong> will decimate each other if belonging to different <strong>players</strong>, or multiply if belonging to only one <strong>player</strong> and on a <strong>node</strong> with room to spare. <strong>Units</strong> on <strong>nodes</strong> smaller than the <strong>units</strong> size will starve and decimate.
			</p>
			<p>
			<strong>Units</strong> on <strong>edges</strong> will travel along the <strong>edge</strong> for as many <strong>turns</strong> as the length of the <strong>edge</strong> until they reach the <strong>node</strong> on the other side of the <strong>edge</strong>.
			</p>
			<h3>Source code</h3>
			<a name="gae"></a>
			<p>
			The source code for stockholm-ai can be found, in its entirety, at <a href="https://github.com/zond/stockholm-ai">https://github.com/zond/stockholm-ai</a>.
			</p>
			<p>
			API documentation can be found at <a href="http://godoc.org/github.com/zond/stockholm-ai">http://godoc.org/github.com/zond/stockholm-ai</a>.
			</p>
			<h3>Installing Google App Engine Go SDK</h3>
			<p>
			The simplest way to get where you probably want to go (building AIs or participating in the public games on <a href="http://stockholm-ai.appspot.com">http://stockholm-ai.appspot.com</a>) is to develop and host your AI on <a href="https://developers.google.com/appengine/">https://developers.google.com/appengine/</a>.
			</p>
			<p>
			Download <a href="https://developers.google.com/appengine/downloads#Google_App_Engine_SDK_for_Go">Google App Engine Go SDK</a> and unpack it someplace (note that the commands below downloads the <strong>linux</strong> version of the SDK):
			</p>
			<p>
			<strong>Don't run the following commands verbatim unless you have a 64 bit OS X machine! In that case, use the above link to download the correct file instead!</strong>
			<a name="running"></a>
<pre>
curl -O http://googleappengine.googlecode.com/files/go_appengine_sdk_darwin_amd64-1.8.6.zip
unzip go_appengine_sdk_linux_amd64-1.8.6.zip
export PATH=$PATH:$(pwd)/go_appengine/
</pre>
			<h3>Running your own server</h3>
			<p>
			To quickly get started, the best way is to just start your own server running this very interface. 
			<p>
			Check out the code from github:
			</p>
<pre>
git clone https://github.com/zond/stockholm-ai.git
</pre>
			<p>
			Start the local development server with the already-prepared GOPATH directory properly set by using <code>dev_appserver.py</code> from the <a href="https://developers.google.com/appengine/">Google App Engine</a> installation:
			</p>
			<p>
			Don't forget to <strong>Sign in</strong> to your local server, so that it allows you to create AIs and games!
			</p>
			<a name="creating"></a>
<pre>
env GOPATH=$(pwd)/stockholm-ai/GOPATH dev_appserver.py stockholm-ai/hub
</pre>
			<h3>Creating games between AIs</h3>
			<p>
			When the local development server is running, you can add the 2 (actually 3, but one is broken by design) example AIs to the list of AIs for your server: <code>http://localhost:8080/examples/randomizer</code> and <code>http://localhost:8080/examples/simpleton</code>.
			</p>
			<p>
			Go to <a href="http://localhost:8080/ais">http://localhost:8080/ais</a> and add those two URLs.
			</p>
			<p>
			When this is done, you can create games between these two AIs, and watch the results. 
			</p>
			<a name="modifying"></a>
			<p>
			Go to <a href="http://localhost:8080/games">http://localhost:8080/games</a> and create a game between your newly added AIs.
      </p>
			<p>
			Remember that each game is <strong>only played once</strong>. That the interface renders the same graph different ways each time you watch the game does not mean the game is played <strong>again</strong>. To get new results, you have to <strong>create a new game</strong>.
			</p>
			<h3>Modifying an existing AI</h3>
			<a name="ai"></a>
			<p>
			To quickly get a feel for what you can do with an AI, you can just edit (for example) the <code>simpleton</code> AI. It resides in <code>stockholm-ai/simpleton/ai/ai.go</code>. When you have edited it to your hearts delight, the local dev server should automatically try to recompile when you save the file.
			</p>
			<p>
			Your changed AI should now be available (if the compilation succeeded) on the same URL as the old <code>simpleton</code> AI was: <code>http://localhost:8080/examples/simpleton</code>.
			</p>
			<h3>Creating a completely new AI</h3>
			<p>
			To create a completely new AI (to be able to match it against the example AIs on your local server), you just copy the <code>stockholm-ai/simpleton</code> directory to a new directory.
			</p>
<pre>
cp -av stockholm-ai/simpleton stockholm-ai/myai
</pre>
			<p>
			Now, you might want to host this AI inside the local server you are already running. If you want to do this, you have to look at the <code>stockholm-ai/hub/web/web.go</code> file and edit it a bit. This is extracurricular.
			</p>
			<p>
			On the other hand, if you are satisfied with just running the new AI independently on its own server, you can just start it just like you started the local hub server. (But on <strong>different ports</strong>, or it won't successfully start)
			</p>
<pre>
env GOPATH=$(pwd)/stockholm-ai/GOPATH dev_appserver.py stockholm-ai/myai --port=8081 --admin_port=8001
</pre>
			<a name="deploying"></a>
      <p>
			Now you can edit <code>stockholm-ai/myai/ai/ai.go</code> to improve your ai, add <code>http://localhost:8081</code> to the list of AIs in your local hub server and start games.
			</p>
			<p>
			For some examples of what the AI can do instead of just trying to invade the closest node, take a look at <a href="#examples">the examples</a>.
			</p>
			<h3>Deploying your own AI</h3>
			<p>
			I strongly suggest just hosting your new AI on <a href="https://developers.google.com/appengine/">https://developers.google.com/appengine/</a>. If you don't want to do that, it is fairly simple to run the servers in a regular Go web server. The <a href="http://godoc.org/github.com/zond/stockholm-ai/ai#HTTPHandlerFunc">http://godoc.org/github.com/zond/stockholm-ai/ai#HTTPHandlerFunc</a> returns a <code>http.Handler</code> that you can use in any Go web server. Otherwise, just continue with these instructions.
			</p>
			<p>
			Begin by signing up at <a href="https://developers.google.com/appengine/">https://developers.google.com/appengine/</a> to get an account. Then go to <a href="https://appengine.google.com/">https://appengine.google.com/</a> to create a new application. Pick a nice name and go with the default options.
			</p>
			<p>
			Now you can just edit the <code>app.yml</code> file of your new AI, and replace <code>some-project</code> with the name you registered whe you signed up at <a href="https://developers.google.com/appengine/">Google App Engine</a>. When this is done, you can use <code>appcfg.py</code> from the <a href="https://developers.google.com/appengine/">Google App Engine</a> installation.
			</p>
<pre>
env GOPATH=$(pwd)/stockholm-ai/GOPATH appcfg.py stockholm-ai/myai
</pre>
			<a name="examples"></a>
			<h3>Examples</h3>
			<p>Apart from the various examples at <a href="https://github.com/zond/stockholm-ai">https://github.com/zond/stockholm-ai</a>, <a href="https://github.com/miridius">Miridius</a> has created a few AIs for stockholm-ai, that he has been kind enough to share as <a href="https://github.com/miridius/miridius-ai">a github.com project</a>.</p>
			</div>
		</div>
	</div>
</div>
