body {
	background-color: #D4E8E4;
}
.about {
	padding: 2px;
	padding-left: 19px;
}
.game-controls {
	z-index: 10;
	float: right;
}
.current-turn {
	width: 4em;
}
.game-controls span {
	font-size: x-large;
	font-weight: bold;
}
.players {
	position: absolute;
	z-index: 10;
	float: left;
	font-size: x-large;
	font-weight: bold;
}
.add-ai input {
	width: 20em;
}
